@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  color: #333;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f04c23;
  color: #fff;
}

.export-buttons {
  margin-top: 20px;
  text-align: center;
}

.export-icons span {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
}

button {
  background-color: #f04c23;
  max-width: 120px;
  font-size: 12px;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}
