@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

canvas {
  background-color: #002855;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}

html,
body {
  background-color: #F2F2F2;
  color: #002855;
  height: 100%;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* ajuste conforme sua altura real */
  z-index: 1000;
  background-color: #ffffff; /* ou outra cor de fundo */
}


.usuario-logado {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #1b1b1b1b;
}

.usuario-logado a {
  position: fixed;
  align-items: center;
  top: -5px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 16px;
  cursor: pointer;
  z-index: 1000;
}

.icone-menu {
  position: fixed;
  top: 15px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 16px;
  cursor: pointer;
  z-index: 1000;
}

.icone-menu div {
  height: 4px;
  width: 100%;
  left: 5px;
  background-color: #FFFFFF;
  border-radius: 9px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 28px;
  color: #E03C31;
  font-family: 'Poppins', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  align-content: center;
  margin: auto;
}

form input {
  border: 1px solid #008E8D;
  outline: none;
  font-size: 14px;
  transition: border 0.3s;
  border-radius: 5px;
  background-color: #FFFFFF;
}


/*-------------*/

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #1B1B1B; /* branco puro */
}

input,
select {
  padding: 10px;
  border: 1px solid #008E8D; /* teal da JSL */
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #1B1B1B; /* preto suave */
}

input::placeholder {
  color: #777777;
}

select option {
  background-color: #1B1B1B; /* preto suave */
  color: #FFFFFF;
}

button {
  background-color: #F04C23; /* coral escuro da JSL */
  max-width: 120px;
  font-size: 12px;
  color: #FFFFFF;
  padding: 6px 15px 6px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #FF866E; /* tom mais claro do coral */
}

.link-cadastro {
  color: #FF866E; /* coral claro */
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.btn-voltar {
  display: inline-block;
  max-width: 120px;
  background-color: #FFFFFF;
  color: #1B1B1B;
  padding: 4px 5px 4px 5px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.btn-voltar:hover {
  background-color: #FF866E;
}

.btn-voltar::before {
  background-color: #FF866E;
  color: #FFFFFF;
}

.container {
  flex: 1;
  /* permite crescer para empurrar o footer para baixo */
  max-width: 1400px;
  margin: 40px auto;
  padding: 20px;
  overflow-x: auto;
}

.icone-home .material-icons {
  font-size: 28px;
  color: #D5001C; /* vermelho escuro JSL */
  transition: 0.3s ease;
}

.icone-home .material-icons:hover {
  color: #A60016; /* tom mais escuro ao passar o mouse */
}


table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 auto;
}

table td {
  text-transform: uppercase;
}

/* bloco 2 fim*/

table input {
  width: 100%;
  padding: 4px;
  font-size: 10px;
  background-color: #E8E8E8; /* cinza claro */
  color: #1B1B1B;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  text-align: center;
}

th,
td {
  padding: 6px 10px;
  height: auto;
  border: 1px solid #CCCCCC;
  text-align: center;
}

th {
  background-color: #D5001C; /* vermelho JSL */
  color: #FFFFFF;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  transition: all 0.2s ease;
}

th span {
  display: inline-block;
  transition: transform 0.2s ease;
  font-family: 'Poppins', sans-serif;}

th span:hover {
  transform: scale(1.4);
}

td button {
  display: inline-block;
  margin-right: 4px;
  padding: 6px 8px;
  font-size: 10px;
  background-color: #F04C23; /* vermelho intenso JSL */
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

td button:hover {
  background-color: #FF866E; /* hover coral claro */
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.menu-lateral {
  width: 200px;
  background-color: #F4F4F4; /* fundo vermelho */
  padding: 30px 20px;
  color: #1B1B1B;
  border: 1px solid #FFB3B3; /* borda clara */
  border-radius: 12px;
  font-weight: 200;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;

  /* Para animação */
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  pointer-events: none;
}

.menu-lateral.ativo {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.menu-lateral h2 {
  margin-bottom: 30px;
  text-align: left;
  font-size: 22px;
  padding-left: 10px;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
}

.menu-lateral ul li {
  margin-bottom: 15px;
  justify-content: flex-start;
}

.menu-lateral ul li a {
  color: #1B1B1B;
  text-decoration: none;
  font-size: 12px;
  padding: 10px;
  display: block;
  transition: background-color 0.3s;
}

.menu-lateral ul li a:hover {
  background-color: #FFFFFF;
  color: #D5001C;
  border-radius: 4px;
  transition: 1s;
  font-weight: 150;
  opacity: 0.7;
}

.conteudo-dashboard {
  flex: 1;
  padding: 40px;
  background-color: #F4F4F4;
  color: #1B1B1B;
  margin-top: 40px;
}

.conteudo-dashboard h1 {
  color: #D5001C;
}

.conteudo-dashboard h1,
p {
  font-weight: 300;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-jsl {
  margin-top: -50px;
  max-width: 150px;
  height: 150px;
  border-radius: 8px;
}

.export-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  text-align: center;
}

.export-buttons button {
  background-color: #D5001C;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.export-buttons button:hover {
  background-color: #FF866E;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.pai {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D5001C;
  padding: 0px 3px;
  flex-wrap: wrap;
}


/* fim */ 

.botao-voltar-menu {
  background-color: #D5001C;
  color: #ffffff;
  padding: 0;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.usuario-logado,
.botao-voltar-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.usuario-logado {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  padding: 5px 2px;
}

.area-botao button {
  margin: auto;
  padding: 10px 40px;
}

.conteudo-dashboard {
  padding: 30px;
}

#resumo-coletores {
  display: flex;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.card-dashboard {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(213, 0, 28, 0.2);
  align-items: center;
  justify-content: center;
  flex: 1;
  width: auto;
  gap: 20px;
  height: auto;
  text-align: center;
  color: #D5001C;
  opacity: 0.5;
}

.card-dashboard p {
  font-size: 20px;
}

.descricao-card {
  font-size: 18px;
  color: #1B1B1B;
}

.valor-card {
  font-size: 36px;
  font-weight: bold;
}

.botao {
  display: flex;
  gap: 20px;
  flex-direction: row;
  padding-top: 12px;
}

.cadastro_usuario {
  display: flex;
  justify-content: center;
  text-align: center;
}

.cadastro_usuario button {
  padding: 10px 25px 10px 25px;
}

.export-box {
  padding: 15px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #1B1B1B;
  width: 100%;
  max-width: 400px;
  opacity: 0.6;
}

.export-icons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  font-size: 32px;
  cursor: pointer;
}

.export-icons span:hover {
  color: #F04C23;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.mensagem-alerta {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.5s ease;
  opacity: 0.5;
}

.mensagem-alerta.success {
  margin: 0 auto;
  width: 300px;
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.mensagem-alerta.error {
  align-content: center;
  width: 300px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.hidden {
  display: none;
}

.container table {
  margin-top: 150px;
}

/* === TABELAS === */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(213, 0, 28, 0.15);
  color: #1B1B1B;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #CCCCCC;
  text-align: center;
  text-transform: uppercase;
}

table th {
  background-color: #F7F7F7;
  color: #D5001C;
  font-family: 'Poppins', sans-serif;}

table td {
  font-size: 10px;
}

table tr:nth-child(even) {
  background-color: #FAFAFA;
}

table tr:nth-child(odd) {
  background-color: #F0F0F0;
  opacity: 0.9;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 30px;
}

.usuarioLogadoTexto .icone-home {
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
}

.lado-direito {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icone-home {
  font-size: 32px;
  text-decoration: none;
  color: #D5001C;
}

.rodape-sistema {
  color: #1B1B1B;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 100px;
  height: auto;
}

.rodape-sistema a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.rodape-sistema a:hover {
  text-decoration: underline;
}

.area-graficos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  margin: 30px auto;
}

#filtroData {
  width: 82px;
  height: 36px;
  padding: 0;
  text-align: center;
}

.area-graficos canvas {
  width: 300px !important;
  height: 300px !important;
  opacity: 0.5;
  background-color: #EFEFEF;
}

.area_log h3 {
  font-family: 'Poppins', sans-serif;
  color: #D5001C;
}

.area_log {
  display: flex;
  height: auto;
  flex-direction: column;
  font-weight: normal;
  color: #1B1B1B;
  padding-left: 10px;
  background-color: #F9F9F9;
}

